<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.GateLogMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.GateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MENU" jdbcType="VARCHAR" property="menu" />
    <result column="OPT" jdbcType="VARCHAR" property="opt" />
    <result column="URI" jdbcType="VARCHAR" property="uri" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
    <result column="IS_SUCCESS" jdbcType="CHAR" property="isSuccess" />
    <result column="P_ID" jdbcType="VARCHAR" property="pid" />
      <result column="OPT_INFO" jdbcType="VARCHAR" property="optInfo" />


  </resultMap>
  <select id="gateLogExport" resultMap="BaseResultMap">
    SELECT
        ID,
        MENU,
        OPT,
        URI,
        CRT_TIME,
        CRT_USER,
        CRT_NAME,
        CRT_HOST,
        CASE IS_SUCCESS
    WHEN '1' THEN
        '是'
    ELSE
      '否'
        END IS_SUCCESS,
        P_ID,
        OPT_INFO
    FROM
        ADMIN_GATELOG
  </select>

    <select id="getOrgCodeLogNum" resultType="long">
        select count(*) from admin_gatelog gate right join
        (select id from admin_user where org_code like '%'|| #{orgCode}||'%') us
        on gate.crt_user = us.id
        <where>
            <if test="menu != null and menu != ''">
                uri=#{menu,jdbcType=VARCHAR}
            </if>
            <!-- 今天 -->
            <if test = "type == '5' || type == 5">
                and   TO_CHAR(crt_time, 'yyyy-MM-dd')
                between
                to_char(sysdate,'yyyy-MM-dd')
                AND
                to_char(sysdate,'yyyy-MM-dd')
            </if>
            <!-- 本周 -->
            <if test = "type == '6' || type == 6">
                and   TO_CHAR(crt_time, 'yyyy-MM-dd')
                between
                to_char((select trunc(sysdate, 'd') + 1 from dual),'yyyy-mm-dd')
                and
                to_char(sysdate,'yyyy-mm-dd')
            </if>
            <!-- 本月 -->
            <if test = "type == '7' || type == 7">
                and   TO_CHAR(crt_time, 'yyyy-MM-dd')
                between
                to_char((select trunc(sysdate, 'mm') from dual),'yyyy-mm-dd')
                and
                to_char(sysdate,'yyyy-mm-dd')
            </if>
        </where>
    </select>

    <select id="getCountLog" resultType="long">
        select count(gate.id) from admin_gatelog gate right join
        (select id from admin_user where org_code like '%'|| #{orgCode}||'%') us
        on gate.crt_user = us.id
    </select>

    <select id="getAccess" resultType="java.lang.Integer">
        select count(*) from admin_gatelog
        <!-- 昨天 -->
        <if test = "type=='1'|| type==1">
        where
        crt_time
        between to_date(to_char((select TRUNC(SYSDATE - 1) from dual),'yyyy-MM-dd'),'yyyy-MM-dd')
        and to_date(to_char(SYSDATE,'yyyy-MM-dd'),'yyyy-MM-dd')
        </if>
        <!-- 今年 -->
        <if test = "type=='2'|| type==2">
            where
            crt_time
            between to_date(to_char((select trunc(sysdate, 'yy') from dual),'yyyy-MM-dd'),'yyyy-MM-dd')
            and to_date(to_char(SYSDATE,'yyyy-MM-dd'),'yyyy-MM-dd')
        </if>
        <!-- 去年 -->
        <if test = "type=='3'|| type==3">
            where
            crt_time
            between to_date(to_char((select TRUNC(SYSDATE,'YYYY')-INTERVAL '1' YEAR from dual),'yyyy-MM-dd'),'yyyy-MM-dd')
            and to_date(to_char((select trunc(sysdate -1, 'yyyy') from dual),'yyyy-MM-dd'),'yyyy-MM-dd')
        </if>
        <!-- 前天 -->
        <if test = "type=='4'|| type==4">
            where
            crt_time
            between to_date(to_char((select TRUNC(SYSDATE - 2) from dual),'yyyy-MM-dd'),'yyyy-MM-dd')
            and to_date(to_char((select TRUNC(SYSDATE - 1) from dual),'yyyy-MM-dd'),'yyyy-MM-dd')
        </if>
    </select>
</mapper>