<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hollykunge.security.admin.mapper.OrgMapper">
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.admin.entity.Org">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="ORG_LEVEL" jdbcType="NUMERIC" property="orgLevel" />
    <result column="ORG_SECRET" jdbcType="VARCHAR" property="orgSecret" />
    <result column="EXTERNAL_NAME" jdbcType="VARCHAR" property="externalName" />
    <result column="ORDER_ID" jdbcType="NUMERIC" property="orderId" />
    <result column="DELETED" jdbcType="VARCHAR" property="deleted" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CRT_TIME" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="CRT_NAME" jdbcType="VARCHAR" property="crtName" />
    <result column="CRT_HOST" jdbcType="VARCHAR" property="crtHost" />
    <result column="UPD_TIME" jdbcType="TIMESTAMP" property="updTime" />
    <result column="UPD_USER" jdbcType="VARCHAR" property="updUser" />
    <result column="UPD_NAME" jdbcType="VARCHAR" property="updName" />
    <result column="UPD_HOST" jdbcType="VARCHAR" property="updHost" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
    <result column="ATTR4" jdbcType="VARCHAR" property="attr4" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="PATH_CODE" jdbcType="VARCHAR" property="pathCode"/>
    <result column="PATH_NAME" jdbcType="VARCHAR" property="pathName"/>
  </resultMap>

  <resultMap id="OrgMap" type="com.github.hollykunge.security.admin.entity.OrgDTO">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <collection property="orgDTOList" ofType="com.github.hollykunge.security.admin.entity.OrgDTO"
                column="id" select="findOrgByParentID"/>
  </resultMap>

  <select id="findOrg" resultMap="OrgMap">
     select ID,PARENT_ID from admin_org where PARENT_ID=#{id}
  </select>
  <select id="findOrgByParentID" resultType="com.github.hollykunge.security.admin.entity.OrgDTO">
     select ID,PARENT_ID from admin_org where PARENT_ID=#{id}
  </select>

  <!-- fansq 20-2-7 添加 导入excel -->
  <insert id="insertExcelOrg">
    insert into ADMIN_ORG
    (
    ID,
    ORG_NAME,
    PARENT_ID,
    ORG_LEVEL,
    EXTERNAL_NAME,
    ORDER_ID,
    DELETED,
    DESCRIPTION,
    CRT_TIME,
    CRT_USER,
    CRT_NAME,
    CRT_HOST,
    ORG_CODE,
    PATH_CODE,
    PATH_NAME
    )
    <foreach collection="orgs" item="item" index= "index" separator ="UNION ALL">
      (
      select
      #{item.id},
      #{item.orgName},
      #{item.parentId},
      #{item.orgLevel},
      #{item.externalName},
      #{item.orderId},
      #{item.deleted},
      #{item.description},
      #{item.crtTime},
      #{item.crtUser},
      #{item.crtName},
      #{item.crtHost},
      #{item.orgCode},
      #{item.pathCode},
      #{item.pathName}
      from dual
      )
    </foreach>
  </insert>

  <select id="findOrgByLevelAndParentId" resultMap="BaseResultMap">
    select * from admin_org where parent_id like '%'||#{parentId}||'%' and org_level=#{orgLevel}
  </select>
</mapper>