<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.security.mapper.UserCardMapper" >
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.entity.UserCard" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="CARD_ID" property="cardId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="I" property="i" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="NUMERIC" />
  </resultMap>


  <insert id="insertUserCards" parameterType="java.util.List" >
    insert into PORTAL_USER_CARD
    (
    ID,
    USER_ID,
    CARD_ID,
    STATUS,
    I
    )
    <foreach collection="userCardList" item="item" index= "index" separator ="UNION ALL">
      (
      select
      #{item.id},
      #{item.userId},
      #{item.cardId},
      #{item.status},
      #{item.i}
      from dual
      )
    </foreach>

  </insert>

  <delete id="deleteUserCards" parameterType="String">
    delete from PORTAL_USER_CARD where CARD_ID=#{cardId}
    <!--and USER_ID in
    <foreach collection="userList" item = "item" open="(" separator="," close=")">
      #{item.userId}
    </foreach>-->
  </delete>
</mapper>