<?xml version="1.0" encoding="UTF-8"?>
<Configuration  monitorInterval="30">
    <Appenders>
        <!-- fansq 添加控制台输出 20-2-19 -->
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式-->
            <PatternLayout>
                <pattern>"%d{HH:mm:ss,SSS} %p %c (%L) - %m%n"</pattern>
            </PatternLayout>
        </Console>
        <!--添加一个控制台追加器-->
        <!--<Console name="Console" target="SYSTEM_OUT" follow="true">-->
        <File name ="file" fileName="/logs/portal/portal.log">
            <PatternLayout>
                <pattern>"%d{HH:mm:ss,SSS} %p %c (%L) - %m%n"</pattern>
            </PatternLayout>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="file" />
            <appenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
