<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.security.task.mapper.LarkTaskMemberMapper" >
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.task.entity.LarkTaskMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TASK_CODE" property="taskCode" jdbcType="VARCHAR" />
    <result column="IS_EXECUTOR" property="isExecutor" jdbcType="INTEGER" />
    <result column="MEMEBER_CODE" property="memeberCode" jdbcType="VARCHAR" />
    <result column="JOIN_TIME" property="joinTime" jdbcType="TIMESTAMP" />
    <result column="IS_OWNER" property="isOwner" jdbcType="INTEGER" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_TIME" property="updTime" jdbcType="TIMESTAMP" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ChildTaskUserMap" type="com.github.hollykunge.security.task.dto.LarkTaskMemberDto"
             extends="BaseResultMap">
    <result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="P_ID" property="pid" jdbcType="VARCHAR" />
    <result column="name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getChildTaskUser" resultMap="ChildTaskUserMap">
      select ltm.*,
        au.avatar,au.name,au.o_email,au.org_code,au.org_name  from
        lark_task_member ltm
        left join
        LARK_ADMIN.admin_user au
        on
        ltm.memeber_code = au.id
        where
        ltm.task_code=#{taskCode}
  </select>
  <select id="getTaskUser" resultType="java.lang.String">
     select ltm.memeber_code
      from
      lark_task lt
      inner join
      lark_task_member ltm
      on
      lt.id=ltm.task_code
      where
      lt.project_code=#{projectCode}
      AND
      lt.id=#{taskCode}
  </select>
  <update id="updateTaskMember">
      update lark_task_member set memeber_code=#{modifyMemberId} where memeber_code=#{modifiedMemberId};
  </update>
</mapper>