<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.hollykunge.security.task.mapper.LarkProjectVersionMapper" >
  <resultMap id="BaseResultMap" type="com.github.hollykunge.security.task.entity.LarkProjectVersion" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="UPD_TIME" property="updTime" jdbcType="VARCHAR" />
    <result column="ORGANIZATION_CODE" property="organizationCode" jdbcType="VARCHAR" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="SCHEDULE" property="schedule" jdbcType="DECIMAL" />
    <result column="PLAN_PUBLISH_TIME" property="planPublishTime" jdbcType="TIMESTAMP" />
    <result column="FEATURES_CODE" property="featuresCode" jdbcType="VARCHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_NAME" property="crtName" jdbcType="VARCHAR" />
    <result column="CRT_HOST" property="crtHost" jdbcType="VARCHAR" />
    <result column="UPD_USER" property="updUser" jdbcType="VARCHAR" />
    <result column="UPD_NAME" property="updName" jdbcType="VARCHAR" />
    <result column="UPD_HOST" property="updHost" jdbcType="VARCHAR" />
    <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
    <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
    <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
    <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
  </resultMap>
</mapper>